/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
    background-color: grey;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url(/img/double-bubble.png);
}

.top-bar {
	background-color: black;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	z-index: 9999;
}

.top-bar h1{
	color: white;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	letter-spacing: 5px;
}

.twitter {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background: url(/img/twitter.png);
	text-indent: -9999px;
	position: absolute;
	top: -22px;
	right: -25px;
}

.container {
    background-color: azure;
    margin: 80px auto;
    width: 960px;
	position: relative;
}

.container .judul {
    font-size: 2em;
    font-weight: bold;
	padding-left: 20px;
	padding-top: 20px;

}

a {
	text-decoration: none;
	color: black;
}



.header ul li{
	margin-top: 15px;
	display: inline-block;
	margin-left: 20px ;

}

.header ul li a{
	text-decoration: none;
	color: salmon;
	font-weight: bold;
}


.header ul li a:hover {
	text-decoration: underline;
	padding: 2px;

	padding: 3px;
	border-radius: 3px;
}


.hero {
	margin-top: 20px;
	height: 600px;
	background-image:url(/img/kucing-oyen.jpg);
	background-size:cover;
	border-top: 0.4em solid salmon;
	border-bottom: 0.4em solid lightskyblue;

}

.main {
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: left;
}

.main .penulis {
	margin-top: 5px;
	font-style: italic;
	font-size: small;

}

.main .penulis a {
	color: salmon;
	text-decoration: none;

}

.main .penulis a:hover {
	color: salmon;
	text-decoration: underline;

}



.main h2 {
	font-weight:  bold;
	font-size: 30px;
}

.main p {
	margin-top: 20px;
	line-height: 30px;
	text-align: justify;
}

.sidebar {
	width: 300px;
	padding: 20px;
	float: right;
}

.sidebar h3 {
	font-weight: bold;
	margin-bottom: 10px;
}

.sidebar img {
	border: 4px solid black;
	float: left;
	margin-right: 12px;
	box-sizing: content-box;
}


.sidebar p {
	line-height: 17px;
	font-size: 12px;
	text-align: justify;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
	font-weight: bold;
}

.footer {
	text-align: center;
	color: white;
	background-color: black;
}

.footer .copy {
	padding: 10px;
}

/**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
	zoom: 1;
}
